.body{
    -fx-background-color: #e8ebea;
}
.card{
    -fx-background-color: #FFFFFF;
        -fx-background-radius: 6;
         -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 9, 0, 0, 0);
        -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}

.scroll{
-fx-background-color:transparent;
}

.badge{
    -fx-background-color: rgba(0, 210, 120, 0.2);
    -fx-padding: 1 3 1 3;
        -fx-background-radius: 6;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
        -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}

/* --- MENU BAR DARK --- */

/* A barra principal */
.menu-bar {
    -fx-background-color: #2b2b2b;
    -fx-border-width: 0;
    -fx-padding: 2 5 2 5; /* Top/Bot slim */
}

/* Os botões da barra (Arquivo, Modos...) */
.menu-bar .menu-button {
    -fx-background-color: transparent;
    -fx-padding: 4 8 4 8; /* Reduz espaço lateral */
}

.menu-bar .menu-button:hover,
.menu-bar .menu-button:focused,
.menu-bar .menu-button:showing {
    -fx-background-color: #444444; /* Cinza mais claro no hover */
    -fx-cursor: hand;
}

/* Texto dos Menus */
.menu-bar .label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12px;
    -fx-text-fill: #e0e0e0; /* Branco suave */
    -fx-font-weight: normal;
}

/* --- MENU SUSPENSO (Dropdown) --- */
.context-menu {
    -fx-background-color: #2b2b2b;
    -fx-border-color: #3f3f3f;
    -fx-border-width: 1px;
    -fx-padding: 0; /* Remove borda branca padrão */
    -fx-background-radius: 0 0 4 4; /* Arredonda levemente em baixo */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 8, 0, 0, 4);
}

/* Itens dentro do menu suspenso */
.menu-item {
    -fx-background-color: transparent;
    -fx-padding: 5 10 5 10; /* Compacto */
}

.menu-item:focused { /* Hover no item */
    -fx-background-color: #0078D7; /* Azul destaque */
}

.menu-item .label {
    -fx-text-fill: #e0e0e0;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

/* Separador horizontal */
.separator-menu-item .line {
    -fx-border-color: #3f3f3f;
    -fx-border-width: 1 0 0 0;
}